@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.answer-result {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 20px 1fr 34px;
    grid-template-areas: "identifier track percent";
    column-gap: 12px;


    &__identifier {
        grid-area: identifier;
        @include mixins.setup-font("Mulish", 12px, 700, var.$primary-purple);
    }

    &__percent {
        grid-area: percent;
        @include mixins.setup-font("Mulish", 12px, 800, rgba(215, 148, 81, 1));
    }

    &__track {
        grid-area: track;
        height: 14px;
        border-radius: 0 20px 20px 0;
        background-color: rgba(237, 237, 237, 1);
        overflow: hidden;
        width: 100%;
    }

    &__bar {
        height: 100%;
        border-radius: inherit;
        background-color: var.$primary-orange;
        transition: width 150ms ease-out;
    }
}