<section class="hero-illustration">
    <div class="hero-illustration--animated">
        <div class="hero-illustration--animated__background-image"></div>
        <div class="hero-illustration--animated__speech-bubble"></div>
        <div class="hero-illustration--animated__question-mark"></div>
        <div class="hero-illustration--animated__star"></div>
        <div class="hero-illustration--animated__checkmark"></div>
        <div class="hero-illustration--animated__purple-circle"></div>
        <div class="hero-illustration--animated__orange-circle-sm"></div>
        <div class="hero-illustration--animated__orange-circle-md"></div>
        <div class="hero-illustration--animated__purple-rectangle"></div>
    </div>
    <div class="hero-illustration--static"></div>
</section>