<section class="hero-illustration">
    <div class="hero-illustration__background-image"></div>
    <div class="hero-illustration__speech-bubble"></div>
    <div class="hero-illustration__question-mark"></div>
    <div class="hero-illustration__star"></div>
    <div class="hero-illustration__checkmark"></div>
    <div class="hero-illustration__purple-circle"></div>
    <div class="hero-illustration__orange-circle-sm"></div>
    <div class="hero-illustration__orange-circle-md"></div>
    <div class="hero-illustration__purple-rectangle"></div>
</section>
