@use '../../../../styles/abstracts/variables' as var;
@use '../../../..//styles/abstracts/mixins' as mixins;
@use '../../../../styles.scss';

.input-field {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2px;

    &__label {
        grid-row: 1;
        @include mixins.setup-font("Mulish", 18px, 700, var.$background-color-bright);
    }

    &__input {
        box-sizing: border-box;
        
    }

}