@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;


.input-field {
    min-width: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    row-gap: 6px;

    &__label {
        grid-row: 1;
        @include mixins.setup-font("Mulish", 18px, 700, var.$background-color-bright);

        &--optional {
            font-weight: 400;
            padding-left: 10px;
        }
    }

    &__input-container {
        min-width: 0;
        display: grid;
        height: 37px;
        grid-template-columns: 1fr 37px;
        column-gap: 10px;

        &--one-column {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
    }

    &__text-area,
    &__input {
        width: 100%;
        min-width: 0;
        grid-column: 1;
        box-sizing: border-box;
        border-radius: 5px 20px 5px 5px;
        padding: 7px 13px;
        outline: unset;
        border: unset;
        cursor: pointer;
        @include mixins.setup-font("Mulish", 16px, 400, var.$primary-purple);
        transition: background-color 125ms ease-out, font-size 125ms ease-out;

        &--writing {
            background-color: var.$third-orange;
            @include mixins.setup-font("Mulish", 18px, 500, var.$primary-purple);
        }
    }

    &__text-area {
        resize: vertical;
        min-height: 37px;
        max-height: 120px;
        overflow-y: auto;
        padding: 10px 13px 8px 13px;
    }

    &__button-container {
        @include mixins.setup-display-flex(row, center, center);
        grid-column: 2;
    }

    &__text-area+&__button-container {
        @include mixins.setup-display-flex(row, center, flex-start);
    }
}

.input-field__label--hidden {
    display: none;
}