<article class="input-field">
    <label class="input-field__label" [for]="fieldId()">
        <span>{{label()}}</span>
        @if(isOptional()){
            <span class="input-field__label--optional">(optional)</span>
        }
        
    </label>

    <div class="input-field__input-container" [class.input-field__input-container--one-column]="!hasTrash()">

        @if(inputFieldVariant() !== 'textArea'){
        <input class="input-field__input" type="text" [id]="fieldId()" [name]="fieldId()" [formControl]="inputControl()"
            [placeholder]="placeHolder()" [title]="label()" autocomplete="off" (focus)="onInputEnter()"
            (blur)="onInputLeave()" [class.input-field__input--writing]="isWriting()">
        } @else {
        <textarea class="input-field__text-area" rows="4" [id]="fieldId()" [name]="fieldId()" [formControl]="inputControl()"
            [placeholder]="placeHolder()" [title]="label()" autocomplete="off" (focus)="onInputEnter()"
            (blur)="onInputLeave()" [class.input-field__input--writing]="isWriting()">

            </textarea>
        }

        @if(hasTrash()){
            <div class="input-field__button-container">
                <app-button [buttonVariant]="'trashBtn'" [hasIcon]="false" [hasTrashIcon]="true" (click)="onDeleteContent()"></app-button>
            </div>
        }

        
    </div>
</article>