<section class="question-vote-section">

    <header class="question-vote-section__header">
        <span class="question question__identifier">{{questionIndex() + 1}}.</span>
        <h5 class="question question__question">{{questionFormGroup().controls.text.value}}</h5>
    </header>

    <main class="question-vote-section__answers">

        @for(answer of getAnswers(); track answer.controls.answerId){
            <app-answer-vote 
                class="question-vote-section__result"
                [answerIndex]="$index" 
                [answerId]="answer.controls.answerId.value"
                [questionVotes]=" questionVotes()"
                >
            </app-answer-vote>
        }

    </main>

</section>
