@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.btn {
    height: 48px;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    outline: none;
    @include mixins.setup-font("Nokora", 18px, 700, var.$dark-purple);
    transition: background-color 300ms ease-out;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 0;
    grid-template-areas: "content icon";
    grid-area: content;
    align-items: center;

    &--primary {
        padding: 12px 16px;
        background-color: var.$secondary-orange;

        &:hover {
            background-color: var.$primary-orange;

            .btn-icon {
                width: 24px;
                margin-left: 10px;
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &--secondary {
        padding: 8px 12px;
        background-color: var.$btn-seconday-bg-default;
        @include mixins.setup-font("Nokora", 18px, 700, var.$background-color-bright);

        .btn-icon {
            width: 24px;
            margin-left: 10px;
            opacity: 1;
            transform: scale(1);
        }

        &:hover {
            background-color: var.$btn-seconday-bg-hover;
        }
    }

    &--tertiary {
        height: 40px;
        background-color: transparent;
        border-radius: 0;
        padding: 6px 12px 8px 12px;
        grid-template-rows: auto auto;
        row-gap: 4px;
        grid-template-areas: "content icon" "line line";
        @include mixins.setup-font("Nokora", 18px, 700, var.$background-color-bright);
        transition: background-color 125ms ease-in;

        .btn-icon {
            width: 24px;
            margin-left: 10px;
            opacity: 1;
            transform: scale(1);
        }

        &:hover {
            background-color: rgba(250, 245, 254, 0.2);
        }
    }

    &--filter {
        border-radius: 20px;
        padding: 3px 10px;
        height: auto;
        @include mixins.setup-font("Nokora", 16px, 400, var.$primary-purple);
        background-color: var.$third-orange;

        &:hover:not(.btn--activated) {
            background-color: var.$secondary-orange;
        }

        &.btn--activated {
            background-color: var.$primary-orange;
        }
    }

    &--trash {
        position: relative;
        box-sizing: border-box;
        height: 37px;
        aspect-ratio: 1 / 1;
        outline: unset;
        border: unset;
        border-radius: 3px;
        cursor: pointer;
        @include mixins.setup-display-flex(row, center, center);
        background-color: transparent;
        transition: background-color 125ms ease-out;

        &--disabled {
            cursor: unset;
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover:not(.btn--trash--disabled) {
            background-color: rgba(255, 183, 112, 0.6);

            .btn-icon-container__icon--default {
                opacity: 0;
            }

            .btn-icon-container__icon--hover {
                opacity: 1;
            }
        }
    }

    &__line {
        grid-area: line;
        border-top: 1px solid rgba(255, 255, 255, 1);
        height: 1px;
        width: 100%;
    }

}

.btn-icon {
    grid-area: icon;
    width: 0;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;
    opacity: 0;
    transform: scale(0.6);
    transition:
        width 300ms ease-out,
        margin-left 300ms ease-out,
        opacity 300ms ease-out,
        transform 300ms ease-out;

    &--add {
        background-image: url('/assets/icons/add-circle.svg');
    }

    &--check {
        background-image: url('/assets/icons/check.svg');
    }

    &--add-white {
        background-image: url('/assets/icons/add_circle_white.svg');
    }

    &--close-white {
        background-image: url('/assets/icons/close-white.svg');
    }

}

.btn-icon-container {
    grid-area: icon;
    position: relative;
    box-sizing: border-box;
    width: 26px;
    aspect-ratio: 1 / 1;

    &__icon {
        position: absolute;
        inset: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity 125ms ease-out;

        &--default {
            background-image: url('/assets/icons/delete-default.svg');
            opacity: 1;
        }

        &--hover {
            background-image: url('/assets/icons/delete-hover.svg');
            opacity: 0;
        }
    }
}