<button [type]="(buttonType())" class="btn" [ngClass]="[buttonClass(), isActivated() ? 'btn--activated': '']"
    (click)="onButtonClick()" [class.btn--trash--disabled]="isDisabled()" [class.btn--secondary--cancel]="hideText()">

    <span class="btn__text" [class.btn__text--hide]="hideText()">
        <ng-content></ng-content>
    </span>

    @if(hasIcon()){
    <div class="btn-icon" [ngClass]="buttonIconClass()" [class.btn-icon--hide-margin]="hideText()"></div>
    }@else if (hasTrashIcon()) {
    <div class="btn-icon-container">
        <div class="btn-icon-container__icon btn-icon-container__icon--default"></div>
        <div class="btn-icon-container__icon btn-icon-container__icon--hover"></div>
    </div>
    }

    @if(buttonVariant() === 'tertiaryBtn') {
    <div class="btn__line"></div>
    }

</button>