<article class="answer-container">
    <span class="answer-container__identifier">{{getIdentifier()}}.</span>
    <app-input-field class="answer-container__input" 
        [inputFieldVariant]="'noLabel'" 
        [hasTrash]="true" [inputControl]="getAnswer()"
        (removeItem)="onRemoveAnswer()"
        ></app-input-field>
</article>


<!--
Das gaze als Grid machen
Button vom Inputfeld abtrennen und einzelnen Button machen

Unter der letzten Anwort den ADD BUTTON setzten.
Wenn der Index zu hoch ist einfach ausblenden


-->