@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.answer-container {
    display: grid;
    grid-template-columns: auto 1fr 37px;
    grid-template-areas:
        "identifier input trash"
        "emptySm error-field error-field"
        "emptySm addSection addSection";
    column-gap: 8px;
    margin-bottom: 10px;
    align-items: center;

    &__identifier {
        grid-area: identifier;
        @include mixins.setup-display-flex(row, center, center);
        @include mixins.setup-font("Mulish", 18px, 700, var.$background-color-bright);
        height: 100%;
    }

    &__input {
        grid-area: input;
        min-width: 0;
        width: 100%;
        align-self: center;
    }

    &__trash-button {
        grid-area: trash;
        @include mixins.setup-display-flex(row, center, center);
    }

    &__emptySm {
        width: auto;
        aspect-ratio: 1 / 1;
        grid-area: emptySm;
    }

    &__add-section {
        margin-top: 10px;
        grid-area: addSection;
        @include mixins.setup-display-flex(row, space-between, center, 12px);
    }


    &__notice {
        @include mixins.setup-font("Mulish", 12px, 400, rgba(255, 255, 255, 1));
    }

    &__error {
        grid-area: error-field;
        margin-top: 4px;
        @include mixins.setup-font("Mulish", 12px, 400, var.$primary-orange);
    }


}

@media(max-width: 1055px) {
    .answer-container__add-section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 650px) {

    .answer-container {
        grid-template-areas:
            "identifier empty trash"
            "input input input"
            "emptySm error-field error-field"
            "emptySm addSection addSection";
        column-gap: 0px;
        row-gap: 0px;
    }


}