$max-content-width: 1920px;

$primary-pruple: rgba(53, 39, 58, 1);
$dark-purple: rgba(34, 18, 39, 1);
$light-pruple: rgba(244, 233, 251, 1);
$primary-orange: rgba(255, 183, 112, 1);
$secondary-orange: rgba(255, 207, 161, 1);
$third-orange: rgba(254, 233, 212, 1);
$background-color-card-default:rgba(250, 245, 254, 1);
$background-color-card-secondary-default:rgba(217, 217, 217, 0.08);
$background-color-card-secondary-hover:rgba(217, 217, 217, 0.16);

