<aside class="drop-down-container">
    <button type="button" class="drop-down" 
        [class.drop-down--active]="isMenuOpen()" 
        [class.drop-down--is-category-selected]="isCategorySelected()"
        (click)="onButtonClick(); $event.stopPropagation()" >
        <span class="drop-down__content"><ng-content></ng-content></span>
        <div class="drop-down__icons">
            <div class="drop-down__icon drop-down__icon--up"></div>
            <div class="drop-down__icon drop-down__icon--down-white"></div>
            <div class="drop-down__icon drop-down__icon--down-orange"></div>
        </div>
    </button>
    <ul class="drop-down-list" [class.list-open]="isMenuOpen()">
        @if(variant() === 'home') {
            <li class="drop-down-list__item" (click)="onCategoryClick(null)">All Surveys</li>
        }
        @for (category of categoryList(); track $index) {
        <li class="drop-down-list__item" (click)="onCategoryClick(category.id)">
            {{category.name}}
        </li>
        }
    </ul>
</aside>