<aside class="drop-down-container">
    <button type="button" class="drop-down" [class.drop-down--active]="isMenuOpen()" (click)="onButtonClick()">
        <span class="drop-down__content">Sort by categories</span>
        <div class="drop-down__icons">
            <div class="drop-down__icon drop-down__icon--up"></div>
            <div class="drop-down__icon drop-down__icon--down-white"></div>
            <div class="drop-down__icon drop-down__icon--down-orange"></div>
        </div>
    </button>
    <ul class="drop-down-list" [class.list-open]="isMenuOpen()">
        @for (category of surveyService.categoriesList(); track $index) {
        <li class="drop-down-list__item" (click)="onCategoryClick($index)">
            {{category.name}}
        </li>
        }
    </ul>
</aside>