@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.view-wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    @include mixins.setup-display-flex(column, flex-start, center);
    overflow-y: auto;
    box-sizing: border-box;
}

.survey-view,
.view-header {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    width: min(1218px, calc(100vw - 24px));
}

.view-header {
    @include mixins.setup-display-flex(row, flex-start, center);
    margin-bottom: 24px;
}

.view-loading {
    @include mixins.setup-font("Mulish", 18px, 500, var.$primary-purple);
}

.survey-view {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "survey result";
    column-gap: 36px;
    margin-bottom: 36px;

    &__survey {
        grid-area: survey;
        background-color: rgba(142, 112, 153, 0.1);
        border-radius: 0 160px 0 0;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-inline-start: 45px;
        padding-inline-end: 45px;
    }

    &__results {
        grid-area: result;
        margin-top: 24px;
        padding-right: 0;
        min-width: 0;
        max-width: 315px;
    }
}

.survey-view-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        "status status"
        "expires category"
        "title title"
        "description description"
    ;
    row-gap: 12px;

    &__status {
        grid-area: status;
        pointer-events: none;
    }

    &__expires {
        grid-area: expires;
        @include mixins.setup-font("Mulish", 14px, 500, var.$primary-purple);
    }

    &__category {
        grid-area: category;
        justify-self: end;
        @include mixins.setup-font("Mulish", 14px, 400, var.$dark-purple);
    }

    &__close {
        grid-area: close;
        display: none;
    }

    &__title {
        grid-area: title;
        @include mixins.setup-font("Nerko-One", 56px, 400, var.$fourth-orange);
        line-height: 50px;
    }

    &__description {
        grid-area: description;
        @include mixins.setup-font("Mulish", 16px, 500, var.$primary-purple);
    }
}

.survey-view-main {
    box-sizing: border-box;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    column-gap: 20px;

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 0;
    }
}

.survey-view-submit-btn-container {
    margin-top: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "error-message submit-button";
    column-gap: 16px;

}

.vote-error-message {
    align-self: center;
    grid-area: error-message;
    @include mixins.setup-font("Mulish", 14px, 400, var.$fourth-orange);
    opacity: 0;
    transition: opacity 125ms ease-in;

    &--visible {
        opacity: 1;
    }
}

.vote-submit-btn {
    grid-area: submit-button;
}

.result-headline {
    @include mixins.setup-font("Nerko-One", 32px, 400, var.$dark-purple);

    &__orange {
        color: var.$primary-orange;
    }
}

.result-notice {
    @include mixins.setup-font("Mulish", 18px, 700, var.$primary-purple);
    margin-top: 24px;
}

.result-empty {
    @include mixins.setup-font("Mulish", 18px, 700, var.$primary-purple);
    text-align: center;
    margin-top: 80px;
}

.result-votings {
    margin-top: 24px;
}


@media(max-width: 999px) {

    .survey-view {
        grid-template-columns: 1fr;
        grid-template-areas: "survey" "result";
        column-gap: 0;
    }

    .survey-view__results {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

}