@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.view-wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    @include mixins.setup-display-flex(column, center, center);
    overflow-x: auto;
}

.survey-view,
.view-header {
    width: min(1218px, calc(100vw - 24px));
}

.view-header {
    @include mixins.setup-display-flex(row, flex-start, center);
    margin-bottom: 24px;
}

.survey-view {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "survey result";
    background-color: rgba(142, 112, 153, 0.1);
    border-radius: 0 160px 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-inline-start: 45px;
    padding-inline-end: 45px;

    &__survey {
        grid-area: survey;
    }

    &__result {
        grid-area: result;
    }
}

.survey-view-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
        "status status"
        "expires category"
        "title title"
        "description description"
        ;
    row-gap: 12px;

    &__status {
        grid-area: status;
        pointer-events: none;
    }

    &__expires {
        grid-area: expires;
        @include mixins.setup-font("Mulish", 14px, 500, var.$primary-purple);
    }

    &__category {
        grid-area: category;
        justify-self: end;
        @include mixins.setup-font("Mulish", 14px, 400, var.$dark-purple);
    }

    &__close {
        grid-area: close;
        display: none;
    }

    &__title {
        grid-area: title;
        @include mixins.setup-font("Nerko-One", 56px, 400, var.$fourth-orange);
        line-height: 50px;
    }

    &__description {
        grid-area: description;
        @include mixins.setup-font("Mulish", 16px, 500, var.$primary-purple);
    }
}

.survey-view-main {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
}

