<div class="view-wrapper">

    <app-header [isPurple]="true" [isButtonAvailable]="true" class="view-header"
        (requestOpenSurvey)="openCreateSurvey()"></app-header>

    <section class="survey-view">

        @if(isLoading()) {
        <p class="view-loading">Loading survey...</p>
        } @else if (survey()) {
        <form class="survey-view__survey" [formGroup]="voteForm" (ngSubmit)="onSubmit()">


            <header class="survey-view-header">
                <app-status class="survey-view-header__status" [isActive]="true">Published</app-status>
                @if(survey()?.expires_at){
                <span class="survey-view-header__expires">Ends on {{survey()?.expires_at | isoDateToGerman}}</span>
                }

                <span class="survey-view-header__category">Category: {{survey()?.category?.name}}</span>

                <h1 class="survey-view-header__title">{{survey()?.title}}</h1>

                @if (hasDescription()) {
                <p class="survey-view-header__description">{{survey()?.description}}</p>
                }


            </header>

            <main class="survey-view-main">

                @if(isMobile()) {

                <div class="survey-view-main__mobile">
                    @for(question of questions; track question.controls.id.value){
                        <app-question-view [questionFormGroup]="question" [questionIndex]="$index"
                            [isReadOnly]="!canParticipate()" (selectionChanged)="updateSelectedAnswerIds()">
                        </app-question-view>
                    }
                </div>

                }@else {
                <div class="survey-view-main__column">
                    @for(question of leftQuestions; track question.controls.id.value){
                        <app-question-view [questionFormGroup]="question" [questionIndex]="$index * 2"
                            [isReadOnly]="!canParticipate()" (selectionChanged)="updateSelectedAnswerIds()">
                        </app-question-view>
                    }
                </div>

                <div class="survey-view-main__column">
                    @for(question of rightQuestions; track question.controls.id.value){
                        <app-question-view [questionFormGroup]="question" [questionIndex]="$index * 2 + 1"
                            [isReadOnly]="!canParticipate()" (selectionChanged)="updateSelectedAnswerIds()">
                        </app-question-view>
                    }
                </div>
                }


            </main>

            <div class="survey-view-submit-btn-container">

                @if(voteForm.invalid && voteForm.touched) {
                <span class="vote-error-message"
                    [class.vote-error-message--visible]="voteForm.invalid && voteForm.touched">All questions require an
                    answer.</span>
                } @else if (hasAlreadyVoted()) {
                <span class="vote-error-message" [class.vote-error-message--visible]="true">You have already completed
                    this survey.</span>
                } @else if (isPastDue()) {
                <span class="vote-error-message" [class.vote-error-message--visible]="true">This survey has expired. Voting is no longer possible.</span>
                }

                @if(isMobile()) {
                <app-button [buttonType]="'submit'" [buttonVariant]="'primaryBtn'" [isDarkFontColor]="true"
                    [hasIcon]="true" class="vote-submit-btn" [isDisabled]="!canParticipate()"
                    [buttonIconVariant]="'check'">Complete</app-button>
                }@else {
                <app-button [buttonType]="'submit'" [buttonVariant]="'secondaryBtn'" [isDarkFontColor]="true"
                    class="vote-submit-btn" [isDisabled]="!canParticipate()">Complete survey</app-button>
                }


            </div>

        </form>

        @if(isMobile()) {
        <div class="survey-view__accordeon-results">
            <app-result-accordeon (seeResultEvent)="toggleSeeResult($event)"></app-result-accordeon>
        </div>
        }

        <aside class="survey-view__results" [class.survey-view__results--mobile]="isMobile()"
            [class.survey-view__results--mobile--open]="openResultMobile()">

            <h5 class="result-headline">Survey results <span class="result-headline__orange">LIVE</span></h5>

            @if(storedVotes().length === 0 && selectedAnswerIds().length === 0){
                <p class="result-notice">Select an answer to see a live preview of the results.</p>
                <p class="result-empty">No votes have been submitted yet.</p>
            }@else {
                <div class="result-votings">
                    @for(question of questions; track question.controls.id.value) {
                        <app-question-vote 
                            [questionId]="question.controls.id.value" 
                            [questionFormGroup]="question"
                            [questionIndex]="$index"
                            [previewAnswerIds]="selectedAnswerIds()"
                            [previewEnabled]="canParticipate()"
                        ></app-question-vote>
                    }
                </div>
            }
        </aside>
        }
    </section>

    @if (showCreateSurvey()) {
    <app-create-survey-modal (requestClose)="surveyCreate.onCancel()">

        <app-survey-create #surveyCreate [isModal]="true" (closeCreate)="closeCreateSurvey()">
        </app-survey-create>

    </app-create-survey-modal>
    }


    @if(showOverlay()){
        <div class="survey-view-overlay">

            @if(hasJustSubmitted()) {
                <app-dialog class="survey-dialog" [class.survey-dialog--show]="showDialog()" [dialogVariant]="'success'"
                    message="Thank you for completing the survey." (closeEvent)="onMessageDialogClose()"></app-dialog>
            }
        </div>
    }

</div>