@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.home-wrapper {
    height: 100vh;
    height: 100dvh;
    background-color: var.$primary-purple;
    @include mixins.setup-display-flex(column, flex-start, center);
    overflow-x: auto;
}

.home-section {
    max-width: var.$max-content-width;
    width: min(1120px, 92vw);
    margin-left: auto;
    margin-right: auto;
}

.home-top-grid {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headline illustration" "description illustration" "button illustration";
    column-gap: 32px;

    &__headline {
        grid-area: headline;
        @include mixins.setup-font("Nerko-One", clamp(3.5rem, 2.95rem + 2.75vw, 6.25rem), 400, var.$primary-orange, 89%);
    }

    &__description {
        grid-area: description;
        @include mixins.setup-font("Mulish", clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem), 600, rgba(255, 255, 255, 1));
    }

    &__button {
        grid-area: button;
    }

    &__illustration {
        grid-area: illustration;
    }

}

.home-section-main {
    width: min(1042px, 92vw);
}

.home-surveys-section {
    @include mixins.setup-display-flex(column, flex-start, center, 16px);
    width: 100%;
    

    &__headline {
        @include mixins.setup-font("Nerko-One", clamp(3.125rem, 2.8704rem + 1.358vw, 4.5rem), 400, var.$primary-orange);
    }

    &__notice {
        align-items: flex-start;
        @include mixins.setup-font("Mulish", clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem), 500, rgba(255, 255, 255, 1));
    }
}

.highlight-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 28px;
    padding-bottom: 8px;
}

.empty-state {
    @include mixins.setup-font("Mulish", 24px, 600, rgba(255, 255, 255, 1));
}

.empty-state-sm {
    @include mixins.setup-font("Mulish", 20px, 600, rgba(255, 255, 255, 1));
    height: 80px;
}


.home-survey-list-section {
    width: 100%;

    &__header {
        padding-inline-end: 20px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "filter-buttons category-drop-down" "empty-cell selected-category";

        &__sorting-category {
            grid-area: selected-category;
            @include mixins.setup-display-flex(row, flex-start, center);
            height: 26px;
            padding-left: 14px;
            @include mixins.setup-font("Mulish", 14px, 400, var.$primary-orange);
        }

        &__empty-cell {
            width: 100%;
        }
    }

    &__list {
        min-height: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 16px;
        row-gap: 16px;
        margin-top: 10px;
        max-height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: height 125ms ease-out;

        &::-webkit-scrollbar {
            width: 12px;
        }


        &::-webkit-scrollbar-thumb {
            background-color: var.$primary-orange;
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: padding-box;
        }
    }
}

.home-survey-filter-buttons {
    grid-area: filter-buttons;
    @include mixins.setup-display-flex(row, flex-start, center, 28px);
}

.home-survey-category-drop-down {
    grid-area: category-drop-down;
}

@media(max-width: 999px) {
    .home-top-grid {
        grid-template-columns: 1fr;
        row-gap: 32px;
        grid-template-areas: "headline" "illustration" "description" "button";

        &__description {
            /* max-width: 30ch; */
        }

        &__button {
            @include mixins.setup-display-flex(row, center, center);
        }

        &__illustration {
            @include mixins.setup-display-flex(row, center, center);
            
        }
    }

    .highlight-cards {
        overflow-x: auto;
    }

    /* grid-template-areas: "filter-buttons category-drop-down" "empty-cell selected-category"; */

    .home-survey-list-section__header {
        grid-template-columns: 1fr;
        grid-template-areas: "filter-buttons" "empty-cell" "category-drop-down" "selected-category";
    }

    .home-survey-category-drop-down {
        margin-top: 32px;
    }

    .home-survey-list-section__list {
        grid-template-columns: 1fr;
    }


    .highlight-cards {
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var.$gray-primary;
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: padding-box;
        }
    }

}