@use '../../../styles/abstracts/variables' as var;
@use '../../../styles/abstracts/mixins' as mixins;
@use '../../../styles.scss';

.home-wrapper {
    height: 100vh;
    height: 100dvh;
    background-color: var.$primary-pruple;
    @include mixins.setup-display-flex(column, flex-start, center);
    overflow-x: auto;
}

.home-section {
    max-width: var.$max-content-width;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home-top-grid {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 32px;
}

.home-top-column-left {
    @include mixins.setup-display-flex(column, flex-start, flex-start, 24px);

    &__headline {
        @include mixins.setup-font("Nerko-One", 100px, 400, var.$primary-orange, 89%);
    }

    &__description {
        @include mixins.setup-font("Mulish", 24px, 600, rgba(255,255,255,1));
    }
}

.home-top-column-right {
    height: 420px;
    width: 420px;
    background-color: aliceblue;
}

.home-surveys-section {
    @include mixins.setup-display-flex(column, flex-start, center);
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    &__headline {
        @include mixins.setup-font("Nerko-One", 72px, 400, var.$primary-orange);
    }

    &__notice {
        align-items: flex-start;
        @include mixins.setup-font("Mulish", 32px, 500, rgba(255,255,255,1));
    }
}

.highlight-cards {
    @include mixins.setup-display-flex(row, center, center, 42px);
}


.home-survey-list-section {

    &__header {
        @include mixins.setup-display-flex(row, space-between, center);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        margin-top: 32px;
    }
}

.home-survey-filter-buttons {
    @include mixins.setup-display-flex(row, flex-start, center, 28px);
}