<div class="home-wrapper">
    <section class="home-section">
        <app-header></app-header>

        <article class="home-top-grid">
            <div class="home-top-column-left">
                <h1 class="home-top-column-left home-top-column-left__headline">Collect Feedback,<br>Unlock Ideas</h1>
                <p class="home-top-column-left home-top-column-left__description">
                    Create and share surveys in minutes –
                    from team events to workplace culture.
                    Collect opinions, engage your audience,
                    and turn feedback into action.
                </p>
                <app-button [buttonVariant]="'primaryBtn'" [hasIcon]="true" [buttonIconVariant]="'add'"
                    class="mt-32" (click)="onNewSurvey()">New survey</app-button>
            </div>
            <div class="home-top-column-right">
                Placeholder
            </div>
        </article>

        <section class="home-surveys-section mt-48">
            <h2 class="home-surveys-section home-surveys-section__headline">Your surveys</h2>
            <p class="home-surveys-section home-surveys-section__notice mt-32">Ending soon surveys</p>

            <aside class="highlight-cards mt-48">
                @for (survey of surveyService.surveyHighlights(); track survey.id) {
                    <app-survey-card [cardVariant]="'highlights'" [surveyWithCategory]="survey"></app-survey-card>
                }
            </aside>

        </section>

        <section class="home-survey-list-section mt-48 mb-72">
            <header class="home-survey-list-section__header">
                <div class="home-survey-filter-buttons">
                    <app-button [buttonVariant]="'filterBtn'" [toggleIsActive]="showActiveSurveys()" (click)="onFilterActiveSurveys()">Active survey</app-button>
                    <app-button [buttonVariant]="'filterBtn'" [toggleIsActive]="showPastSurveys()" (click)="onFilterPastSurveys()">Past survey</app-button>
                </div>
                <app-drop-down-menu></app-drop-down-menu>
            </header>
            <aside class="home-survey-list-section__list">
                @for (survey of surveysList(); track survey.id){
                    <app-survey-card [cardVariant]="'listview'" [surveyWithCategory]="survey"></app-survey-card>
                }
            </aside>

        </section>

    </section>
</div>