@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.home-wrapper {
    height: 100vh;
    height: 100dvh;
    background-color: var.$primary-purple;
    @include mixins.setup-display-flex(column, flex-start, center);
    overflow-x: auto;
}

.home-section {
    max-width: var.$max-content-width;
    width: min(1120px, 92vw);
    margin-left: auto;
    margin-right: auto;
}

.home-top-grid {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "headline illustration" "description illustration" "button illustration";
    column-gap: 32px;

    &__headline {
        grid-area: headline;
        @include mixins.setup-font("Nerko-One", clamp(3.5rem, 2.95rem + 2.75vw, 6.25rem), 400, var.$primary-orange, 89%);
    }

    &__description {
        grid-area: description;
        @include mixins.setup-font("Mulish", clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem), 600, rgba(255, 255, 255, 1));
    }

    &__button {
        grid-area: button;
    }

    &__illustration {
        grid-area: illustration;
    }

}

.home-surveys-section {
    @include mixins.setup-display-flex(column, flex-start, center);
    width: clamp(300px, calc(151.6px + 46.375vw), 1042px);
    margin-left: auto;
    margin-right: auto;

    &__headline {
        @include mixins.setup-font("Nerko-One", 72px, 400, var.$primary-orange);
    }

    &__notice {
        align-items: flex-start;
        @include mixins.setup-font("Mulish", 32px, 500, rgba(255, 255, 255, 1));
    }
}

.highlight-cards {
    @include mixins.setup-display-flex(row, center, center, 42px);
}

.empty-state {
    @include mixins.setup-font("Mulish", 40px, 600, rgba(255, 255, 255, 1));
}

.empty-state-sm {
    @include mixins.setup-font("Mulish", 20px, 600, rgba(255, 255, 255, 1));
    height: 80px;
}


.home-survey-list-section {
    width: clamp(300px, calc(151.6px + 46.375vw), 1042px);
    margin-left: auto;
    margin-right: auto;

    &__header {
        display: grid;
        grid-template-columns: 1fr auto;

        &__sorting-category {
            @include mixins.setup-display-flex(row, flex-start, center);
            height: 26px;
            grid-column: 2;
            padding-left: 14px;
            @include mixins.setup-font("Mulish", 14px, 400, var.$primary-orange);
        }
    }

    &__list {
        min-height: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
        margin-top: 10px;
        max-height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-inline-end: 12px;
        transition: height 125ms ease-out;

        &::-webkit-scrollbar {
            width: 12px;
        }


        &::-webkit-scrollbar-thumb {
            background-color: var.$primary-orange;
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: padding-box;
        }
    }
}

.home-survey-filter-buttons {
    @include mixins.setup-display-flex(row, flex-start, center, 28px);
}

@media(max-width: 999px) {
    .home-top-grid {
        grid-template-columns: 1fr;
        row-gap: 16px;
        grid-template-areas: "headline" "illustration" "description" "button";

        &__description {
            /* max-width: 30ch; */
        }

        &__button {
            @include mixins.setup-display-flex(row, center, center);
        }

        &__illustration {
            @include mixins.setup-display-flex(row, center, center);
            
        }
    }



}