@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.create-wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var.$background-color-bright;
    @include mixins.setup-display-flex(column, center, center);
    overflow-x: auto;

}

.create-section,
.create-header {
    width: min(1170px, calc(100vw - 48px));
}

.create-header {
    @include mixins.setup-display-flex(row, flex-start, center);
}

.create-section {
    box-sizing: border-box;
    background-color: var.$primary-purple;
    border-radius: 5px 100px 5px 5px;
    padding: 32px 59px 32px 59px;
    margin-top: 24px;
    margin-bottom: 36px;
}

.create-section-header {
    width: 100%;
    @include mixins.setup-display-flex(row, space-between, center);

    &__title {
        @include mixins.setup-font("Nerko-One", 56px, 400, var.$fourth-orange);
    }
}

.create-form {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 24px;
    /* width: clamp(300px, calc(160.741px + 46.42vw), 1052px); */
    min-width: 0;
    width: 100%;
    /* min-height: 549px; */
    margin-top: 32px;

    &__fields {
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px 80px 5px 5px;
        padding: 40px 32px;
        grid-row: 1;
        background-color: var.$create-form-bg;

        &__fieldset--survey-info {
            box-sizing: border-box;
            outline: unset;
            border: unset;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "title-field description-field"
                "title-error description-field"
                "date-category description-field"
            ;
            column-gap: 32px;
            row-gap: 8px;

            &--date-and-category {
                margin-top: 8px;
                grid-area: date-category;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-areas:
                    "set-date choose-category"
                    "set-date current-category"
                    "date-error empty"
                ;
                column-gap: 12px;
                row-gap: 6px;

            }
        }

    }
}

.title-field {
    grid-area: title-field;
}

.description-field {
    grid-area: description-field;
}

.set-date-field {
    grid-area: set-date;
}

.choose-category-field {
    grid-area: choose-category;
}

.current-category-field {
    grid-area: current-category;
    @include mixins.setup-display-flex(row, flex-start, center);
    height: 26px;
    padding-left: 18px;
    @include mixins.setup-font("Mulish", 14px, 400, var.$primary-orange);
}

.survey-forms-submit-button {
    justify-self: flex-end;
}

.survey-create-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(53, 39, 58, 0.3);
    @include mixins.setup-display-flex(row, center, flex-end);
    padding-bottom: 12vh;
}

.survey-publish-dialog {
    z-index: 101;
    transform: translateX(150vw);
    transition: transform 1500ms ease-in;

    &--show {
        transform: translateX(0);
    }
}

.error {

    @include mixins.setup-font("Mulish", 12px, 400, var.$primary-orange);

    &__date {
        grid-area: date-error;
    }

    &__title {
        grid-area: title-error;
    }

    &__category {
        grid-area: current-category;
        padding-left: 20px;
    }
}

@media (max-width: 1122px) {
    .create-form__fields__fieldset--survey-info--date-and-category {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-areas:
            "choose-category"
            "current-category"
            "set-date"
            "date-error"
        ;
    }
}

@media (max-width: 900px) {
    .create-form__fields__fieldset--survey-info {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title-field"
            "title-error"
            "date-category"
            "description-field"
        ;
        column-gap: 0px;
        row-gap: 8px;
    }

    .survey-forms-submit-button {
        justify-self: center;
    }

    .survey-add-question {
        justify-self: center;
    }
}


@media (max-width: 650px) {
    .create-section {
        padding: 31px 20px 32px 20px;
    }

    .create-form__fields {
        padding: 40px 12px;
    }

    .create-section-header__title {
        line-height: 80%;
        margin-top: 12px;
        font-size: clamp(2.25rem, 1.0379rem + 6.0606vw, 3.5rem);
    }
}

@media (max-width: 400px) {
    .create-header {
        width: 95vw;
    }

    .create-section {
        padding: 31px 10px 32px 10px;
        width: 95vw;
    }

    .create-form__fields {
        padding: 40px 8px;
    }
}