@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.create-wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var.$background-color-bright;
    @include mixins.setup-display-flex(column, center, center);
    overflow-x: auto;

}

.create-section {
    box-sizing: border-box;
    width: clamp(300px, calc(138.889px + 53.704vw), 1170px);
    min-height: 842px;
    background-color: var.$primary-purple;
    border-radius: 5px 100px 5px 5px;
    padding: 40px 54px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.create-section-header {
    @include mixins.setup-display-flex(row, space-between, center);

    &__title {
        @include mixins.setup-font("Nerko-One", 56px, 400, var.$fourth-orange);
    }
}

.create-form {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 32px;
    width: clamp(300px, calc(160.741px + 46.42vw), 1052px);
    min-height: 549px;
    margin-top: 32px;

    &__fields {
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px 80px 5px 5px;
        padding: 40px 32px;
        grid-row: 1;
        background-color: var.$create-form-bg;

        &__fieldset--survey-info {
            box-sizing: border-box;
            outline: unset;
            border: unset;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-areas:
                "title-field description-field"
                "title-error empty"
                "date-category empty"
            ;
            column-gap: 32px;
            row-gap: 8px;

            &--date-and-category {
                margin-top: 8px;
                grid-area: date-category;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-areas:
                    "set-date choose-category"
                    "set-date current-category"
                    "date-error category-error"
                ;
                column-gap: 12px;

            }
        }

    }
}

.title-field {
    grid-area: title-field;
}

.description-field {
    grid-area: description-field;
}

.set-date-field {
    grid-area: set-date;
}

.choose-category-field {
    grid-area: choose-category;
}

.current-category-field {
    grid-area: date-error;
    @include mixins.setup-display-flex(row, flex-start, center);
    height: 26px;
    padding-left: 18px;
    @include mixins.setup-font("Mulish", 14px, 400, var.$primary-orange);
}

.survey-forms-submit-button {
    justify-self: flex-end;
}

.survey-create-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(53, 39, 58, 0.3);
    @include mixins.setup-display-flex(row, center, flex-end);
    padding-bottom: 12vh;
}

.survey-publish-dialog {
    z-index: 101;
    transform: translateX(150vw);
    transition: transform 1500ms ease-in;

    &--show {
        transform: translateX(0);
    }
}

.error {

    @include mixins.setup-font("Mulish", 12px, 400, var.$primary-orange);

    &__date {
        grid-area: date-error;
    }

    &__title {
        grid-area: title-error;
    }

    &__category {
        grid-area: category-error;
        padding-left: 20px;
    }
}