<figure class="question-field-section">
    <figcaption class="question-field-section__header">
        <p class="question-field-section__text">{{questionIndex() + 1}}. Question</p>
        <app-button [buttonVariant]="'trashBtn'" [hasIcon]="false" [hasTrashIcon]="true" (click)="onRemoveQuestion()"></app-button>
    </figcaption>
    <app-input-field class="question-field-section__question" [inputFieldVariant]="'noLabel'"
        [inputControl]="getQuestion()" [hasTrash]="false"></app-input-field>
    <div class="question-field-section__answers">
        <p class="question-field-section__text">Answers</p>
        <div class="question-field-section__multiple-select-container">
            <app-check-field [checkInputControl]="getAllowMultiAnswers()" [borderVariant]="'bright'"></app-check-field>
            <span class="question-field-section__text--md">Allow multiple answers.</span>
        </div>
    </div>
    @for(answer of answers.controls; track $index; let last = $last){
        <app-answer-create 
            [answerFormGroup]="answer" 
            [answerIndex]="$index"
            [questionIndex]="questionIndex()"
            (removeAnswer)="onRemoveAnswer($event)"
            [canInsertAnswer]="last && $index < 5"
            (addAnswer)="onAddAnswer($event)"
            ></app-answer-create>
    }

</figure>